@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

.billboard {
    overflow: hidden;
    background-image:url(../images/stegosaurus.jpg);
    background-color:black;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:40rem;
    height:3rem;
    width:100%;
    height:auto
}

.h1 {
    font-weight:normal;
    font-size: 1rem;
    background-color: rgba(5, 5, 5, .2);
    letter-spacing:-.1rem;
    margin: 6rem 0 10rem;
    padding: .25rem 5%;
    font-family: georgia;
    font-style:italic;
    color:white;
} 

.info {
    width: 8rem;
    display: inline-block;
    float: left;
    padding: 1rem;
}

.h3 {
    text-transform: uppercase;
    color: gray;
    font-size: .75rem;
    margin: 0;
    padding: 0; 
    overflow: hidden;
}

article {
    margin: .5rem;
}